* {
    font-family: "Microsoft JhengHei UI", sans-serif;
    color: whitesmoke;
}

body {
    margin: 0;
    padding: 0;
    background-color: #213140;
}

#header-box {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: auto;
    background-color: #93B7C2;
}

#header {
    width: 70%;
}

#header h1 {
    font-size: 3.5vh;
    color: #213140;
}

#navbar-box {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: auto;
}

#navbar {
    width: 70%;
}

#navbar a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

#navbar a:hover {
    background-color: #A64141;
}

#navbar a.active {
    background-color: #A64141;
}

#navbar .icon {
    display: none;
}

#main-content {
    margin: auto;
    width: 70%;
    background-color: #213140;
    padding: 8px 0 8px 0;
}

@media screen and (max-width: 730px) {
    #navbar a:not(:first-child) {display: none;}
    #navbar a.icon {
        float: right;
        display: block;
    }
    #navbar {
        width: 100%;
    }
    #navbar.responsive {position: relative;}
    #navbar.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    #navbar.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    #header {
        width: 97%;
    }
    #main-content {
        width: 97%;
    }
}

.caption {
    font-size: 1.6vw;
}



